.customers {
    background-color: #ffffff;
}

.customers-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1666;
    text-align: center;
    color: var(--title-color);
    margin-bottom: 50px;
}

.customer-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.customers-link {
    padding: 16px 32px;
    margin-right: 30px;
    width: calc((100% - 150px) / 6);
    height: 92px;
    background: #ffffff;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:last-child {
    margin-right: 0;
}

.customers-link:focus .customers-icon {
    fill: var(--brand-color);
}

.customers-link:hover .customers-icon {
    fill: var(--brand-color);
}

.customers-link:hover,
.customers-link:focus {
    border: 1px solid var(--brand-color);
}

.customers-icon {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icon {
    fill: #afb1b8;
}